liblightningjni.so
target
.idea
*.iml
__pycache__
src/main/java/org/ldk/impl/version.java
src/main/jni/version.c
**/*.class
ts/version.ts
ts/version.c
c_sharp/src/org/ldk/impl/version.cs
c_sharp/version.c
